@import "tailwindcss";

@layer base {
  body {
    /* Use standard hex or rgb if @apply is being finicky with the theme */
    background-color: #F9FAFB; 
    color: #0f172a; /* This is the hex for slate-900 */
  }
}